#content
{
	display: grid;
}

#content > div:nth-child(odd)
{
	//background-color: cyan;
}

.header{
	display: grid;
	background-color: black !important;
	color:white;
	grid-template-columns:repeat(3,1fr);
}

.header > div:first-child
{
	margin-left: 40px;
    align-self: center;
    justify-content: center;
}

.header > div:nth-child(2)
{
	grid-column: 4;
    align-self: center;
    justify-content: center;
    margin-right: 10px;
}

.header > div > button
{
	border:none;
	cursor:pointer;
	background-color: black;
	color:white;
	outline:none;
	font-size: 16px;
}

/*buttons get bigger on cursor hover*/
.header > div > button:hover
{
	-webkit-transform: scale(1.2);
}

.home
{
	display: grid;
	background-color: #c6dcff;
	grid-template-columns: 45% 10% 45%;
    grid-template-rows:repeat(3,12em);
    grid-gap: 10px;
}

.home > div:first-child
{
    margin-left: 40px;
    grid-column:1;
    grid-row:2;
    align-self: center;
    justify-content: center;
    background-color: #c6dcff;
}

.home > div:nth-child(3)
{
	grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-content: center;
}

.home > div > img
{
    border-radius: 15%;
    border: 5px solid black;
}


.indent
{
    text-indent: 60px;
}

.aboutMe
{
	display: none;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 10px;
    background-color: #c6dcff;
}

.aboutMe > div
{
    margin: 10px;
    border: 5px solid black;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.contact
{
	display:none;	
}

.pictures
{
	display:none;
}

/*Tablet mode*/
@media only screen and (max-width: 800px)
{
    .header
    {
        grid-template-columns: 100%;
    }
    
    .header > div > h2
    {
        text-align: center;
    }
    
    .header > div:first-child
    {
        margin-left: 0px;
    }
    
    .header > div:nth-child(2)
    {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        margin-bottom:5px;
    }
    
    .home
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .home > div:first-child
    {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        margin-right: 40px;
    }
    
    .home > div > h2
    {
        text-align: center;
    }
    
    .home > div > p
    {
        text-align: center;
        margin-left: 0px;
    }
    
    .home > div:nth-child(3)
    {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        margin-bottom: 10px;
    }
    
    /*about me section*/
    .aboutMe
    {
        grid-template-columns: 1fr;
    }
    
    .aboutMe > div
    {
        text-align: center;
    }
    
    .aboutMe ul
    {
        text-align: center;
        padding-left: 0px;
    }
    
    .aboutMe li
    {
        display: inline;
        padding: 15px;
    }
}